{% extends 'base.html' %}
{% block body %}
<div id="wrap">
    <div id="content">
        <div>
            <h1>Welcome to Gourmet Burger!</h1>
        </div>
        <div>
        <table id = "order">
        <tr>
            <th>Make an order:</th>
            <td></td>
            <td><a href="{{url_for('create')}}"><button class="button" style="width:100%">Order</button></a></td>
        </tr>
        <tr>
            <th>Enter order ID:</th>
            <td>
            <form method="POST">
                <input name='orderID' type="number" placeholder="Enter order ID"/>
            </td>
            <td>
                <button class="button" style="width:100%" >Check Status</button>
            </td>
            </form>
            </td>
            {% if error %}
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong>Error:</strong> {{error.msg}}
            </div>
            {% endif %}
        </tr>
        
</div>
</div>

{% endblock %}